app/step-functions-templates/handle_filemanager_sfn_template.asl.json
{
  "StartAt": "Set vars",
  "States": {
    "Set vars": {
      "Type": "Pass",
      "Next": "Get output dir and portal run id",
      "Assign": {
        "name": "{% $states.input.name %}",
        "fmWaitCount": 0
      }
    },
    "Get output dir and portal run id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__get_icav2_wes_object_lambda_function_arn__}",
        "Payload": {
          "name": "{% $name %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Update filemanager attributes",
      "Assign": {
        "outputUri": "{% $states.result.Payload.icav2WesObject.engineParameters.outputUri %}",
        "portalRunId": "{% $states.result.Payload.icav2WesObject.tags.portalRunId %}"
      }
    },
    "Update filemanager attributes": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__add_portal_run_id_attributes_lambda_function_arn__}",
        "Payload": {
          "outputUri": "{% $outputUri %}",
          "portalRunId": "{% $portalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Filemanager sync"
    },
    "Filemanager sync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__filemanager_sync_lambda_function_arn__}",
        "Payload": {
          "outputUri": "{% $outputUri %}",
          "portalRunId": "{% $portalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": {
        "isSynced": "{% $states.result.Payload.isSynced %}"
      },
      "Next": "Filemanager is synced"
    },
    "Filemanager is synced": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Filemanager synced",
          "Condition": "{% $states.input.isSynced %}"
        }
      ],
      "Default": "Waited more than one hour"
    },
    "Filemanager synced": {
      "Type": "Pass",
      "End": true
    },
    "Waited more than one hour": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Could not sync file manager",
          "Condition": "{% $fmWaitCount > 12 %}"
        }
      ],
      "Default": "Wait for filemanager to sync"
    },
    "Wait for filemanager to sync": {
      "Type": "Wait",
      "Seconds": 300,
      "Assign": {
        "fmWaitCount": "{% $fmWaitCount + 1 %}"
      },
      "Next": "Filemanager sync"
    },
    "Could not sync file manager": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata",
  "Comment": "Handle filemanager"
}
