app/step-functions-templates/handle_icav2_analysis_state_change_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "For each event",
  "States": {
    "For each event": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Get event inputs",
        "States": {
          "Get event inputs": {
            "Type": "Pass",
            "Next": "Is Relevant Status",
            "Assign": {
              "icav2AnalysisId": "{% $states.input.payload.id %}",
              "status": "{% $states.input.payload.status %}",
              "name": "{% $states.input.payload.userReference %}"
            }
          },
          "Is Relevant Status": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "Is Terminal Status",
                "Condition": "{% /* https://try.jsonata.org/l5wpTUNXI */\n$status in [\n    \"INITIALIZING\",\n    \"IN_PROGRESS\",\n    \"SUCCEEDED\",\n    \"FAILED\",\n    \"FAILED_FINAL\",\n    \"ABORTED\"\n] %}",
                "Comment": "Is relevant status"
              }
            ],
            "Default": "Placeholder (non-status)"
          },
          "Is Terminal Status": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "Handle nextflow output files",
                "Condition": "{% $status in [\n    \"SUCCEEDED\",\n    \"FAILED\",\n    \"FAILED_FINAL\",\n    \"ABORTED\"\n] %}",
                "Comment": "Is terminal status"
              }
            ],
            "Default": "Update WES API"
          },
          "Handle nextflow output files": {
            "Type": "Parallel",
            "Next": "Handle filemanager",
            "Branches": [
              {
                "StartAt": "Get ICAv2 analysis object from name",
                "States": {
                  "Get ICAv2 analysis object from name": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "language": "{% $states.result.Payload.language %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_pipeline_type_lambda_function_arn__}",
                      "Payload": {
                        "name": "{% $name %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Is Nextflow workflow"
                  },
                  "Is Nextflow workflow": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Next": "Get ICAv2 WES Object",
                        "Condition": "{% $states.input.language = 'NEXTFLOW' %}"
                      }
                    ],
                    "Default": "Nextflow (placeholder 2)"
                  },
                  "Get ICAv2 WES Object": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "logsUri": "{% $states.result.Payload.icav2WesObject.engineParameters.logsUri %}",
                      "outputUri": "{% $states.result.Payload.icav2WesObject.engineParameters.outputUri %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_icav2_wes_object_lambda_function_arn__}",
                      "Payload": {
                        "name": "{% $name %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Copy nextflow files"
                  },
                  "Copy nextflow files": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__copy_nextflow_files_from_logs_uri_lambda_function_arn__}",
                      "Payload": {
                        "logsUri": "{% $states.input.logsUri %}",
                        "outputUri": "{% $states.input.outputUri %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true,
                    "Output": {}
                  },
                  "Nextflow (placeholder 2)": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              },
              {
                "StartAt": "Nextflow (placeholder)",
                "States": {
                  "Nextflow (placeholder)": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              }
            ],
            "Output": {},
            "Catch": [
              {
                "ErrorEquals": ["States.BranchFailed"],
                "Next": "Handle filemanager"
              }
            ]
          },
          "Update WES API": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__update_status_on_wes_api_lambda_function_arn__}",
              "Payload": {
                "name": "{% $name %}",
                "status": "{% /* https://try.jsonata.org/WVD2IGYzV */\n(\n  $statusMap := {\n    \"INITIALIZING\": \"STARTING\",\n    \"IN_PROGRESS\": \"RUNNING\",\n    \"SUCCEEDED\": \"SUCCEEDED\",\n    \"FAILED\": \"FAILED\",\n    \"ABORTED\": \"ABORTED\"\n  };\n  $lookup($statusMap, $status)\n) %}",
                "icav2AnalysisId": "{% $icav2AnalysisId %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true,
            "Output": {}
          },
          "Handle filemanager": {
            "Type": "Parallel",
            "Next": "Update WES API",
            "Branches": [
              {
                "StartAt": "Set vars",
                "States": {
                  "Set vars": {
                    "Type": "Pass",
                    "Next": "Get output dir and portal run id",
                    "Assign": {
                      "fmWaitCount": 0
                    }
                  },
                  "Get output dir and portal run id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_icav2_wes_object_lambda_function_arn__}",
                      "Payload": {
                        "name": "{% $name %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Update filemanager attributes",
                    "Assign": {
                      "outputUri": "{% $states.result.Payload.icav2WesObject.engineParameters.outputUri %}",
                      "portalRunId": "{% $states.result.Payload.icav2WesObject.tags.portalRunId %}"
                    }
                  },
                  "Update filemanager attributes": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": "{% $states.result.Payload %}",
                    "Arguments": {
                      "FunctionName": "${__add_portal_run_id_attributes_lambda_function_arn__}",
                      "Payload": {
                        "outputUri": "{% $outputUri %}",
                        "portalRunId": "{% $portalRunId %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Filemanager sync"
                  },
                  "Filemanager sync": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__filemanager_sync_lambda_function_arn__}",
                      "Payload": {
                        "outputUri": "{% $outputUri %}",
                        "portalRunId": "{% $portalRunId %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Output": {
                      "isSynced": "{% $states.result.Payload.isSynced %}"
                    },
                    "Next": "Filemanager is synced"
                  },
                  "Filemanager is synced": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Next": "Filemanager synced",
                        "Condition": "{% $states.input.isSynced %}"
                      }
                    ],
                    "Default": "Waited more than one hour"
                  },
                  "Filemanager synced": {
                    "Type": "Pass",
                    "End": true
                  },
                  "Waited more than one hour": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Next": "Could not sync file manager",
                        "Condition": "{% $fmWaitCount > 12 %}"
                      }
                    ],
                    "Default": "Wait for filemanager to sync"
                  },
                  "Wait for filemanager to sync": {
                    "Type": "Wait",
                    "Seconds": 300,
                    "Assign": {
                      "fmWaitCount": "{% $fmWaitCount + 1 %}"
                    },
                    "Next": "Filemanager sync"
                  },
                  "Could not sync file manager": {
                    "Type": "Fail"
                  }
                }
              },
              {
                "StartAt": "Placeholder (fm)",
                "States": {
                  "Placeholder (fm)": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.BranchFailed"],
                "Next": "Update WES API"
              }
            ]
          },
          "Placeholder (non-status)": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "Items": "{% [ $states.input.(input) ] %}",
      "MaxConcurrency": 1,
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
