app/step-functions-templates/launch_icav2_analysis_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Get Inputs",
  "States": {
    "Get Inputs": {
      "Type": "Pass",
      "Assign": {
        "icav2WesOrcabusId": "{% $states.input.id %}",
        "name": "{% $states.input.name %}",
        "inputs": "{% $states.input.inputs %}",
        "engineParameters": "{% $states.input.engineParameters %}",
        "tags": "{% $states.input.tags %}"
      },
      "Next": "Update wes API"
    },
    "Update wes API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_status_on_wes_api_lambda_function_arn__}",
        "Payload": {
          "status": "RUNNABLE",
          "name": "{% $name %}",
          "stepsLaunchExecutionArn": "{% $states.context.Execution.Id %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Launch ICAv2 API"
    },
    "Launch ICAv2 API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__launch_icav2_analysis_via_wrapica_lambda_function_arn__}",
        "Payload": {
          "id": "{% $icav2WesOrcabusId %}",
          "name": "{% $name %}",
          "inputs": "{% $inputs %}",
          "engineParameters": "{% $engineParameters %}",
          "tags": "{% $tags %}",
          "technicalTags": {
            "icav2_wes_orcabus_id": "{% $icav2WesOrcabusId %}",
            "launch_step_functions_execution_id": "{% $states.context.StateMachine.Id %}"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["CreateAnalysisInputFailure", "AnalysisLaunchFailure"],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "Comment": "Retry sporadic launch failures"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Assign": {
            "status": "FAILED",
            "errorMessage": "{% $parse($states.errorOutput.Cause) ~> $lookup('errorMessage') %}",
            "errorType": "{% $states.errorOutput.Error %}"
          },
          "Next": "Update WES API with Failed Status"
        }
      ],
      "Next": "Add to payloads database"
    },
    "Add to payloads database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": "${__payloads_table_name__}",
        "Item": {
          "id": {
            "S": "{% $icav2WesOrcabusId %}"
          },
          "analysis_id": {
            "S": "{% $states.input.analysisId %}"
          },
          "analysis_response": {
            "S": "{% $string($states.input.analysisResponsePayload) %}"
          },
          "analysis_launch_uri": {
            "S": "{% $string($states.input.analysisLaunchPayloadUri) %}"
          },
          "ttl": {
            "N": "{% /* 180 days */ $string($round(($millis() + (180 * 24 * 60 * 60 * 1000)) / 1000)) %}"
          }
        }
      },
      "Next": "Get callback id from icav2 wes id"
    },
    "Get callback id from icav2 wes id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": "${__icav2_wes_request_callback_table_name__}",
        "Key": {
          "id": {
            "S": "{% $icav2WesOrcabusId %}"
          }
        }
      },
      "Next": "Has callback id",
      "Assign": {
        "callbackId": "{% $states.result.Item.callback_id.S ? $states.result.Item.callback_id.S : null %}"
      }
    },
    "Has callback id": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Unlock callback id",
          "Condition": "{% $callbackId ? true : false %}",
          "Comment": "Callback id in database"
        }
      ],
      "Default": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "Unlock callback id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__unlock_callback_id_lambda_function_arn__}",
        "Payload": {
          "callbackId": "{% $callbackId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Delete Callback id from database",
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "Delete Callback id from database"
        }
      ]
    },
    "Delete Callback id from database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${__icav2_wes_request_callback_table_name__}",
        "Key": {
          "id": {
            "S": "{% $icav2WesOrcabusId %}"
          }
        }
      },
      "End": true
    },
    "Update WES API with Failed Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_status_on_wes_api_lambda_function_arn__}",
        "Payload": {
          "name": "{% $name %}",
          "status": "FAILED",
          "errorType": "{% $errorType ? $errorType : null %}",
          "errorMessage": "{% $errorMessage ? $errorMessage : null %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Get callback id from icav2 wes id"
    }
  },
  "QueryLanguage": "JSONata"
}
